{% extends 'base.html' %}

{% block content %}

  <h2>Elemento de de Colección Numismática</h2>

  <form method="post" id="elementoForm" data-tipos-moneda-url="{% url 'async_cargar_tipos_moneda' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Guardar</button>
    <a href="{% url 'elemento_changelist' %}">Cancelar</a>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#pais_id").change(function () {
      var url = $("#elementoForm").attr("data-tipos-moneda-url");
      var paisId = $(this).val();

      $.ajax({
        url: url,                    // (localhost:8000/cargar-tipo-moneda/)
        data: {
          'pais': paisId
        },
        success: function (data) {
          $("#pais_id").html(data);
        }
      });

    });
  </script>

{% endblock %}